.hero-section {
  background-image: url('/assets/img/imagen-home.jpg'); 
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}


