<div class="bg-[#f3f4f6] text-gray-800 py-2 px-4 font-medium text-sm md:text-base font-sans">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-end items-center gap-3 md:gap-6">
    <!-- Contacto -->
    <div
      class="flex flex-wrap justify-center md:justify-end items-center gap-3 md:gap-6 w-full md:w-auto overflow-x-auto scrollbar-hide">
      <!-- Teléfono -->
      <a href="tel:+34605583791" class="flex items-center gap-2 hover:text-[#249EA1] transition whitespace-nowrap">
        <fa-icon [icon]="faPhone" class="text-[#249EA1] text-lg"></fa-icon>
        <span>+34 605 58 37 91</span>
      </a>

      <!-- Email -->
      <a href="mailto:mudanzasromeroj@gmail.com"
        class="flex items-center gap-2 hover:text-[#249EA1] transition whitespace-nowrap">
        <fa-icon [icon]="faEnvelope" class="text-[#249EA1] text-lg"></fa-icon>
        <span>mudanzasromeroj&#64;gmail.com</span>
      </a>

      <!-- WhatsApp -->
      <a href="https://wa.me/34605583791" target="_blank"
        class="flex items-center gap-2 bg-green-500 text-white px-4 py-1.5 rounded-full hover:bg-green-600 transition shadow whitespace-nowrap">
        <fa-icon [icon]="faWhatsapp" class="text-white text-base"></fa-icon>
        <span class="text-sm">WhatsApp</span>
      </a>
    </div>
  </div>
</div>


<!-- Navegación principal -->
<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 p-4">
  <div class="max-w-screen-xl flex flex-wrap md:flex-wrap items-center justify-around mx-auto gap-4">
    <!-- Logo -->
    <a role="button" (click)="goInicio()" class="flex items-center cursor-pointer mr-auto">
      <img [src]="logoPath" alt="Mudanzas y Transportes Logo" class="h-12 md:h-14" />
      <span
        class="self-center text-lg md:text-xl font-semibold italic tracking-wide text-[#249EA1] dark:text-[#1e8388] whitespace-nowrap hidden md:inline-block ml-2">
        MUDANZAS Y TRANSPORTES
      </span>
    </a>

    <!-- Hamburger Button -->
    <button data-collapse-toggle="navbar-dropdown" type="button" (click)="toggleMenu()"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-dropdown" [attr.aria-expanded]="menuAbierto">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>

    <!-- Menu -->
    <div [ngClass]="{'hidden': !menuAbierto, 'block': menuAbierto}" class="w-full md:block md:w-auto"
      id="navbar-dropdown">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <a role="button" (click)="goInicio(); menuAbierto = false" [ngClass]="{
          ' text-[#249EA1] dark:text-[#1e8388]': isActive('/'),
          'text-gray-900 hover:text-[#249EA1] dark:text-white dark:hover:text-[#1e8388]': !isActive('/')
        }" class="block py-2 px-3 rounded-sm md:p-0 cursor-pointer">
          Inicio
        </a>
        <li>
          <a role="button" (click)="goWhoWeAre(); menuAbierto = false" [ngClass]="{
               ' text-[#249EA1] dark:text-[#1e8388]': isActive('/quienes-somos'),
               'text-gray-900 hover:text-[#249EA1] dark:text-white dark:hover:text-[#1e8388]': !isActive('/quienes-somos')
             }" class="block py-2 px-3 rounded-sm md:p-0 cursor-pointer">
            ¿Quienes somos?
          </a>
        </li>
        <li (mouseenter)="openSubmenu()" (mouseleave)="closeSubmenu()" class="relative">
          <button id="dropdownNavbarLink" (click)="goMudanzas(); toggleSubmenu()" [ngClass]="{
              'text-[#249EA1] dark:text-[#1e8388]': startsWith('/mudanzas'),
              'text-gray-900 hover:text-[#249EA1] dark:text-white dark:hover:text-[#1e8388]': !startsWith('/mudanzas')
            }" class="flex items-center justify-between w-full py-2 px-3 rounded-sm md:p-0 cursor-pointer">
            Mudanzas
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>
          <div [ngClass]="{'hidden': !submenuAbierto, 'block': submenuAbierto}" id="dropdownNavbar"
            class="z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600 md:absolute md:mt-2">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownNavbarLink">
              <li>
                <a role="button" (click)="goMudanzasHogar(); submenuAbierto = false; menuAbierto = false"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                  Hogar
                </a>
              </li>
              <li>
                <a role="button" (click)="goMudanzasEmpresa(); submenuAbierto = false; menuAbierto = false"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                  Oficina
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a role="button" (click)="goGuardamuebles(); menuAbierto = false" [ngClass]="{
               ' text-[#249EA1] dark:text-[#1e8388]': isActive('/guardamuebles'),
               'text-gray-900 hover:text-[#249EA1] dark:text-white dark:hover:text-[#1e8388]': !isActive('/guardamuebles')
             }" class="block py-2 px-3 rounded-sm md:p-0 cursor-pointer">
            Guardamuebles
          </a>
        </li>
        <li>
          <a role="button" (click)="goContacto(); menuAbierto = false" [ngClass]="{
               'text-[#249EA1] dark:text-[#1e8388]': isActive('/contacto'),
               'text-gray-900 hover:text-[#249EA1] dark:text-white dark:hover:text-[#1e8388]': !isActive('/contacto')
             }" class="block py-2 px-3 rounded-sm md:p-0 cursor-pointer">
            Contacto
          </a>
        </li>
      </ul>
    </div>

    <div class="flex flex-row md:flex-row w-full md:w-auto mt-4 md:mt-0">
      <a href="tel:+34605583791" aria-label="Llámanos"
        class="w-1/2 md:w-auto text-white bg-[#1e8388] font-semibold rounded-full text-base px-4 py-3 shadow-md flex items-center justify-center text-center transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#249EA1] focus:ring-offset-2 mr-1 md:mr-4">
        Llámanos
      </a>
      <button type="button" aria-label="Solicita presupuesto" (click)="goPresupuesto()"
        class="w-1/2 md:w-auto text-white bg-[#e04e00] font-semibold rounded-full text-base px-4 py-3 shadow-md flex items-center justify-center text-center transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#FD5900] focus:ring-offset-2 ml-1">
        Solicita presupuesto
      </button>
    </div>

  </div>
</nav>